@tailwind base;
@tailwind components;
@tailwind utilities;
css/* components/ComplianceList.module.css */

.scrollContainer {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}